<div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>

<!-- Footer area start -->
<footer>    
        <section class="footer__area-common dark-green overflow-hidden position-relative z-1"
         data-background="assets/imgs/footer/footer1-bg-img.png">
            <div class="container">
                <div class="row mb-minus-40 footer-wrap">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer__widget footer__widget-item-1 wow fadeInLeft animated" data-wow-delay=".2s">
                            <span class="footer__widget-item-1-location"><img src="assets/imgs/footer/footer1-bg-location-img.png" alt="img not found"></span>
                            <div class="footer__logo mb-30">
                                <a href="/">
                                    <img src="assets/imgs/footer/logo.png" alt="logo not found">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__widget footer__widget-item-2 footer3__item-2 wow fadeInLeft animated" data-wow-delay=".3s">
                            <div class="footer__widget-title footer__widget-title-2">
                                <h4>The Ojo Law Center LLC</h4>
                            </div>
                            <div class="footer__content">
                                <p>At The Ojo Law Center, LLC, we are dedicated to helping individuals, families, and businesses navigate the complexities of U.S. immigration law. Whether you are seeking a visa, green card, citizenship, or an investor pathway, our experienced legal team provides strategic, results-driven representation tailored to your needs.</p>
                            </div>
                        </div>
                    </div>                               
    
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__widget footer__widget-item-4 wow fadeInLeft animated mt-md-50 mt-sm-40 mt-xs-35" data-wow-delay=".5s">
                          
                            <div class="footer__widget-title">
                                <h4>Your Future in the U.S. Starts Here.</h4>
                            </div>
                            <div class="footer__subscribe subscribe-2">
                                    <a class="rr-btn btn-hover-white" href="/contact">Reach out to a consultant<span><i class="fa-regular fa-angle-right"></i></span></a>
                                </div>
                                <br>
                                <hr>
                                <div class="footer__content">
                                    <p>With an office in Houston, Texas, we serve clients across the United States and worldwide, offering personalized solutions for investors, skilled workers, employers, and families.</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom-wrapper">
                <div class="container">
                    <div class="footer__bottom">
                        <div class="footer__copyright wow fadeInLeft animated" data-wow-delay=".6s">
                            <p>Copyright © 2025 The Ojo Law LLC</p>
                        </div>
    
                        <div class="footer__copyright-menu">
                            <ul>
                                <li class=" wow fadeInLeft animated" data-wow-delay="1.6s"><a href="/toc">Trams & Condition</a></li>
                                <li class=" wow fadeInLeft animated" data-wow-delay="1.8s"><a href="/privacy">Privacy Policy</a></li>
                                <li class=" wow fadeInLeft animated" data-wow-delay="2s"><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- Footer area end -->
    
    
    
    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/meanmenu.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/vendor/magnific-popup.min.js"></script>
    <script src="assets/js/vendor/type.js"></script>
    <script src="assets/js/vendor/vanilla-tilt.js"></script>
    <script src="assets/js/plugins/nice-select.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/parallax-scroll.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/smooth-scroll.js"></script>
    <script src="assets/js/plugins/isotope-docs.min.js"></script>
    <script src="assets/js/vendor/ajax-form.js"></script>
    <script src="assets/js/main.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        fetch('/get-tawk-id')
        .then(response => response.json())
        .then(data => {
            if (data.tawkId) {
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/' + data.tawkId + '/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            }
        })
        .catch(error => console.error('Error loading Tawk.to:', error));
        </script>
        
    <!--End of Tawk.to Script-->
    </body>
    
    
    </html>