  <!-- Header -->
  <% include ('./partials/header') %> 
  <main>
    <section class="error pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="error__content">
                        <div class="section__title-wrapper text-center">
                            <h3 class="section__title mb-30 mb-xs-10 wow fadeInLeft animated" data-wow-delay=".2s">>Error: <%= status || 500 && "Oopps! Page Not Found%"%></h3>
                            <p class="error__text wow fadeInLeft animated" data-wow-delay=".4s">
                              <%= message || "The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. %></p>
                            <div class="error-btn-wrap pb-80">
                                <a href="/" class="rr-btn wow fadeInLeft animated" data-wow-delay=".8s">Back to Home</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
     </section>

</main>
   <% include ('./partials/footer')%>
 