<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Error <%= title || "Something Went Wrong" %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header -->
  <% include ('./partials/header') %> 
  <main style="text-align: center; margin: 50px;">
    <h1>Error: <%= status || 500 %></h1>
    <p><%= message || "Oops! Something went wrong on our end." %></p>
    <a href="/" style="color: blue;">Return to Home</a>
  </main>

  <footer>
    <% include ('./partials/footer')%>
  </footer>
</body>
</html>
